#nav {
  background-color: #0b1336;
  text-transform: uppercase;
  font-size: 2rem;
  position: sticky;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  height: auto;
  grid-area: nav; }

.navUl, .navUlLi, .navUlLiA {
  list-style: none;
  padding: 1rem;
  font-size: 0;
  display: inline-block;
  position: relative;
  text-decoration: none; }

.navUlLi, .navUlLiA {
  list-style: none; }

.navUlLiA {
  color: white;
  font-size: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

a:hover {
  font-weight: 900;
  color: #eed35b;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s; }

.hamburguesa {
  border-color: white; }

#header {
  grid-area: header;
  width: 100%;
  position: relative; }

form {
  background-color: #212547;
  font-weight: 400;
  color: aliceblue;
  text-align: center;
  grid-area: form; }

legend {
  font-size: 3rem; }

label {
  font-size: 2rem;
  color: white;
  font-weight: 200; }

input {
  background-color: #464988;
  border: none;
  color: white;
  margin: 1rem; }

textarea {
  background-color: #464988;
  border: none;
  width: 75%;
  height: 3rem;
  padding: 1rem;
  margin: 3rem;
  color: white;
  font-weight: 200;
  scrollbar-color: navy;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 5rem; }

form img {
  width: 40%;
  margin: 3rem;
  padding: auto; }

form img, form input {
  display: inline; }

* {
  font-family: 'Montserrat', sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: auto;
  line-height: 1.4em;
  color: auto;
  font-family: "Montserrat";
  overflow: hidden;
  overflow-y: scroll; }

html {
  font-size: 62.5%; }

body {
  background-image: url(../img/background.jpg);
  background-attachment: fixed;
  font-family: sans-serif; }

h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4rem; }

h2 {
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 3rem; }

.heightAuto {
  height: auto; }

p {
  color: #b4bec7;
  line-height: 2rem;
  font-size: 1.6rem;
  text-align: center; }

.textCenter {
  text-align: center; }

.completar {
  width: 75%; }

.custom-toggler.navbar-toggler {
  border-color: #9c7b0e;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.fotoProducto {
  max-width: 30rem;
  width: auto;
  height: auto;
  min-width: 30rem; }

.width25 {
  width: 25%;
  border-radius: 25%; }

.width20per {
  width: 20%; }

#imgLogo {
  width: 10rem; }

.timestamp {
  font-weight: 800;
  color: wheat;
  font-size: 3rem;
  text-align: center; }

.txtPrimary {
  text-align: center;
  font-weight: 700;
  font-size: 4rem;
  color: wheat; }

.txtSecondary {
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  color: #e0ba71; }

#whatsapp {
  background-color: #2db83d;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  padding: 2rem;
  margin: 2rem;
  border-radius: 0.5rem;
  text-align: center;
  justify-content: center;
  display: flex;
  position: static; }

.introIndex {
  display: flex;
  align-items: center;
  justify-content: center; }

img {
  max-width: 100%;
  width: 100rem; }

.imgIntro {
  width: 200rem;
  padding: 5rem;
  float: left;
  clear: both; }

.txtIntro {
  padding: 5%;
  line-height: 4rem;
  overflow: auto;
  display: block;
  grid-area: 'texto';
  max-width: 70%; }

#descarga {
  background-color: wheat;
  font-size: auto;
  font-size: 2rem;
  padding: 2.5rem;
  border-color: #ffa600;
  border-width: 0.4rem;
  position: static;
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin: 5rem;
  margin-left: 15rem;
  margin-right: 15rem;
  border-radius: 0.5rem;
  color: navy;
  box-shadow: 2px 2px 4px #ad8e1e;
  width: 75%; }

.imgHistoria {
  max-width: 25rem;
  padding: 2rem;
  float: left;
  border-radius: 0%;
  grid-area: 'foto'; }

#descarga a {
  color: #0a0f6e;
  font-weight: 600; }

#descarga a:hover {
  font-weight: 1000;
  color: #0b1336; }

#botonForm {
  background-color: #0a0f6e;
  font-size: 2rem;
  color: white;
  font-weight: 400;
  padding: 1rem;
  margin-left: 10rem; }

.cliente {
  background-color: #0a0f6e;
  border: #b4bec7;
  border-width: 1rem;
  padding: 2rem;
  width: 20rem;
  margin: 2rem;
  float: left;
  height: 20rem;
  text-align: end; }

#txtCliente {
  height: 10rem;
  margin: 1rem; }

.clienteImg {
  align-items: flex-start;
  width: 5rem;
  height: 3rem; }

h6 {
  font-size: 2rem;
  font-weight: 400;
  color: wheat; }

#logoWpp {
  width: 4rem;
  align-self: center; }

.imgNosotross {
  width: 20rem;
  border-color: white;
  padding-bottom: 2rem;
  padding-right: 10rem;
  padding-left: 10rem;
  padding: 2rem;
  border-width: 2rem;
  border-color: #0a0f6e; }

#marginNosotros {
  margin-left: 25%;
  margin-right: 25%;
  line-height: 4rem;
  height: auto; }

.txtNosotros {
  text-align: center;
  font-size: 2rem;
  color: white;
  font-weight: 800;
  height: 7rem;
  padding-right: 10rem;
  padding-left: 10rem;
  padding: 4rem; }

.nosotrosTitulos {
  display: flex;
  justify-content: center; }

.txtVinculo {
  font-size: 2rem;
  font-style: italic;
  color: #f1d092;
  font-weight: 600;
  padding-bottom: 2rem;
  height: 6rem;
  padding-right: 10rem;
  padding-left: 10rem;
  text-align: center; }

.txtNombre {
  text-align: center;
  font-size: 2rem;
  color: white;
  font-weight: 600;
  padding: 2rem; }

.reviewBloque {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 75%; }

#hamburguesa {
  border-color: #a1821a;
  border-width: 1rem; }

#reviewSocios1 {
  min-width: 50rem;
  max-width: 50rem;
  margin: auto;
  border-radius: 0%;
  padding: auto; }

#reviewSocios2 {
  min-width: 50rem;
  max-width: 50rem;
  margin: auto;
  border-radius: 0%;
  padding: auto; }

#reviewSocios3 {
  min-width: 50rem;
  max-width: 50rem;
  margin: auto;
  border-radius: 0%;
  padding: auto; }

.imagenesFlotando {
  height: auto;
  padding: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-around; }

.introContacto {
  height: auto;
  font-weight: 600;
  font-size: 2rem; }

.justift-content {
  height: 30rem;
  justify-content: space-around; }

footer {
  background-color: #060940;
  text-align: justify;
  position: sticky;
  height: 6.5rem;
  padding-top: 2rem; }

h {
  font-size: 1.5rem;
  margin: 5rem;
  color: #b4bec7; }

footer div img {
  float: right;
  background-color: #060940; }

#nav {
  grid-area: nav;
  display: flex; }

#header {
  grid-area: header; }

#tituloEmpresa {
  grid-area: tituloEmpresa; }

#imgIndexIntro {
  grid-area: imgIndexIntro;
  display: flex;
  justify-content: center; }

#txtIndexIntro {
  grid-area: txtIndexIntro;
  display: flex;
  justify-content: center; }

#mapaLocation {
  grid-area: mapaLocation; }

#reviewSocios1 {
  grid-area: reviewSocios1;
  display: flex;
  justify-content: center; }

#reviewSocios2 {
  grid-area: reviewSocios2;
  display: flex;
  justify-content: center; }

#reviewSocios3 {
  grid-area: reviewSocios3;
  display: flex;
  justify-content: center; }

#txtCatalogo {
  grid-area: txtCatalogo; }

#descarga {
  grid-area: descarga; }

#producto1 {
  grid-area: producto1;
  display: flex;
  justify-content: center; }

#producto2 {
  grid-area: producto2;
  display: flex;
  justify-content: center; }

#producto3 {
  grid-area: producto3;
  display: flex;
  justify-content: center; }

#producto4 {
  grid-area: producto4;
  display: flex;
  justify-content: center; }

#producto5 {
  grid-area: producto5;
  display: flex;
  justify-content: center; }

#producto6 {
  grid-area: producto6;
  display: flex;
  justify-content: center; }

#producto7 {
  grid-area: producto7;
  display: flex;
  justify-content: center; }

#txtHistoria1 {
  grid-area: txtHistoria1;
  display: flex;
  justify-content: center; }

#txtHistoria2 {
  grid-area: txtHistoria2;
  display: flex;
  justify-content: center; }

#txtHistoria3 {
  grid-area: txtHistoria3;
  display: flex;
  justify-content: center; }

#fotoHistoria1 {
  grid-area: fotoHistoria1;
  display: flex;
  justify-content: center; }

#fotoHistoria2 {
  grid-area: fotoHistoria2;
  display: flex;
  justify-content: center; }

#fotoHistoria3 {
  grid-area: fotoHistoria3;
  display: flex;
  justify-content: center; }

@keyframes slideUp1200 {
  0% {
    transform: translate3d(0, 1200px, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

@keyframes slideUp1024 {
  0% {
    transform: translate3d(0, 1024px, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

@keyframes slideUp768 {
  0% {
    transform: translate3d(0, 768px, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

@keyframes slideUp480 {
  0% {
    transform: translate3d(0, 480px, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

#contenedor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "nav" "header" "txtIntroIndex" "imgIntroIndex" "mapaLocation" "reviewSocios1" "reviewSocios2" "reviewSocios3" "footer"; }

#contenedorh {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "nav" "fotoHistoria1" "txtHistoria1" "fotoHistoria2" "txtHistoria2" "fotoHistoria3" "txtHistoria3" "footer"; }

.contenedorc {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-template-areas: "nav" "form" "footer"; }

#imgIndexIntro {
  grid-area: 'foto'; }

@media (max-width: 480px) {
  .contenedor {
    animation: slideUp480 1s forwards;
    grid-template-areas: "nav" "header" "imgIndexIntro" "txtIndexIntro" "mapaLocation" "reviewSocios1" "reviewSocios2" "reviewSocios3" "footer"; }
  .contenedorh {
    animation: slideUp768 1s forwards;
    grid-template-areas: "nav"  "fotoHistoria1"  "txtHistoria1"  "fotoHistoria2"  "txtHistoria2"  "fotoHistoria3"  "txtHistoria3"  "footer"; }
  .txtIntro {
    font-size: 1rem; } }

@media (max-width: 768px) {
  .contenedor {
    animation: slideUp768 1s forwards;
    grid-template-columns: auto;
    grid-template-areas: "nav nav" "header header" "imgIndexIntro imgIndexIntro" "txtIndexIntro txtIndexIntro" "mapaLocation mapaLocation" "reviewSocios1" "reviewSocios2" "reviewSocios3" "footer"; }
  .contenedorh {
    animation: slideUp768 1s forwards;
    grid-template-columns: auto;
    grid-template-areas: "nav nav"  "fotoHistoria1 fotoHistoria1"  "txtHistoria1 txtHistoria1"  "fotoHistoria2 fotoHistoria1"  "txtHistoria2 txtHistoria2"  "fotoHistoria3 fotoHistoria3"  "txtHistoria3 txtHistoria3"  "footer footer"; }
  .txtIntro {
    font-size: 1.5rem; } }

@media (max-width: 1024px) {
  .contenedor {
    animation: slideUp1024 1s forwards;
    grid-template-areas: "nav nav nav" "header header header" "imgIndexIntro txtIndexIntro txtIndexIntro" "mapaLocation mapaLocation mapaLocation" "reviewSocios1 . reviewSocios2" ". reviewSocios3 ." "footer footer footer"; }
  .contenedorh {
    animation: slideUp1024 1s forwards;
    grid-template-areas: "nav nav nav"  "fotoHistoria1 txtHistoria1 txtHistoria1"  "fotoHistoria2 txtHistoria2 txtHistoria2"  "fotoHistoria3 txtHistoria3 txtHistoria3"  "footer footer footer"; }
  .txtIntro {
    font-size: 2rem; } }

@media (max-width: 1400px) {
  .contenedor {
    animation: slideUp1200 1s forwards;
    grid-template-columns: 20vw 10vw 60vw 10vw;
    grid-template-rows: auto;
    grid-template-areas: "nav nav nav nav" "header header header header" "imgIndexIntro . txtIndexIntro txtIndexIntro" "mapaLocation mapaLocation mapaLocation mapaLocation" "reviewSocios1 reviewSocios2 reviewSocios3" "footer footer footer footer"; }
  .contenedorh {
    animation: slideUp1024 1s forwards;
    grid-template-columns: 20vw 10vw 60vw 10vw;
    grid-template-rows: auto;
    grid-template-areas: "nav nav nav nav"  "fotoHistoria1 txtHistoria1 txtHistoria1 txtHistoria1"  "fotoHistoria2 txtHistoria2 txtHistoria2 txtHistoria2"  "fotoHistoria3 txtHistoria3 txtHistoria3 txtHistoria3"  "footer footer footer footer"; }
  .txtIntro {
    font-size: 3rem; } }
