#nav{
    grid-area: nav;
    display: flex;
}
#header{
    grid-area: header;
}
#tituloEmpresa{
    grid-area: tituloEmpresa;
}
#imgIndexIntro{
    grid-area: imgIndexIntro;
}
#txtIndexIntro{
    grid-area: txtIndexIntro;
}
#mapaLocation{
    grid-area: mapaLocation;
}
#reviewSocios1{
    grid-area: reviewSocios1;
    display: flex;
    justify-content: center;
}
#reviewSocios2{
    grid-area: reviewSocios2;
    display: flex;
    justify-content: center;
}
#reviewSocios3{
    grid-area: reviewSocios3;
    display: flex;
    justify-content: center;
}
#txtCatalogo{
    grid-area: txtCatalogo;
}
#descarga{
    grid-area: descarga;
}
#producto1{
    grid-area: producto1;
    position: sticky;
}
#producto2{
    grid-area: producto2;
    position:sticky;
}
#producto3{
    grid-area: producto3;
    position:sticky;
}
#producto4{
    grid-area: producto4;
    position:sticky;
}
#producto5{
    grid-area: producto5;
    position:sticky;
}
#producto6{
    grid-area: producto6;
    position:sticky;
}
#producto7{
    grid-area: producto7;
    position:sticky;
}
#txtHistoria1{
    grid-area: txtHistoria1;
}
#txtHistoria2{
    grid-area: txtHistoria2;
}
#txtHistoria3{
    grid-area: txtHistoria3;
}
#fotoHistoria1{
    grid-area: fotoHistoria1;
}
#fotoHistoria2{
    grid-area: fotoHistoria2;
}
#fotoHistoria3{
    grid-area: fotoHistoria3;
}
