.formContacto{
    grid-area: form;
}
#mainNav{
    grid-area: nav;
}
#header{
    grid-area: header;
}
#imgIndexIntro{
    grid-area: imgIndexIntro;
}
#txtIndexIntro{
    grid-area: txtIndexIntro;
}
#mapaLocation{
    grid-area: mapaLocation;
}
#reviewSocios1{
    grid-area: reviewSocios;
    display: flex;
    justify-content: center;
}
#reviewSocios2{
    grid-area: reviewSocios;
    display: flex;
    justify-content: center;
}
#reviewSocios3{
    grid-area: reviewSocios;
    min-width: 40rem;
    justify-content: center;
}