footer{
    background-color: #060940;
    text-align: justify;
    position: sticky;
    height: 6.5rem;
    padding-top: 2rem;
    grid-area: footer;
}
    h{
        font-size: 1.5rem;
        margin: 5rem;
        color: #b4bec7;
    }
    footer div img{
        float: right;
        background-color:#060940;
    }