
#contenedor{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "nav" "header" "txtIntroIndex" "imgIntroIndex" "mapaLocation" "reviewSocios1" "reviewSocios2" "reviewSocios3" "footer";
}
#contenedorh{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "nav" "fotoHistoria1" "txtHistoria1" "fotoHistoria2" "txtHistoria2" "fotoHistoria3" "txtHistoria3" "footer";
}
.contenedorc{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "nav" "form" "footer";
}
#imgIndexIntro{
    grid-area: 'foto';
}
@media (max-width:480px){
    .contenedor{
        animation: slideUp480 1s forwards;
        grid-template-areas: 
        "nav"
        "header"
        "imgIndexIntro"
        "txtIndexIntro"
        "mapaLocation"
        "reviewSocios1"
        "reviewSocios2"
        "reviewSocios3"
        "footer";
    }
    .contenedorh{
        animation: slideUp768 1s forwards;
        grid-template-areas: 
        "nav" 
        "fotoHistoria1" 
        "txtHistoria1" 
        "fotoHistoria2" 
        "txtHistoria2" 
        "fotoHistoria3" 
        "txtHistoria3" 
        "footer";
    }
    .txtIntro{
        font-size: 1rem;
    }
}
@media (max-width:768px){
    .contenedor{
        animation: slideUp768 1s forwards;
        grid-template-columns: auto;
        grid-template-areas: 
        "nav nav"
        "header header"
        "imgIndexIntro imgIndexIntro"
        "txtIndexIntro txtIndexIntro"
        "mapaLocation mapaLocation"
        "reviewSocios1"
        "reviewSocios2"
        "reviewSocios3"
        "footer";
    }
    .contenedorh{
        animation: slideUp768 1s forwards;
        grid-template-columns: auto;
        grid-template-areas: 
        "nav nav" 
        "fotoHistoria1 fotoHistoria1" 
        "txtHistoria1 txtHistoria1" 
        "fotoHistoria2 fotoHistoria1" 
        "txtHistoria2 txtHistoria2" 
        "fotoHistoria3 fotoHistoria3" 
        "txtHistoria3 txtHistoria3" 
        "footer footer";
    }
    .txtIntro{
        font-size: 1.5rem;
    }
}
@media (max-width:1024px){
    .contenedor{
        animation: slideUp1024 1s forwards;
        grid-template-areas: 
        "nav nav nav"
        "header header header"
        "imgIndexIntro txtIndexIntro txtIndexIntro"
        "mapaLocation mapaLocation mapaLocation"
        "reviewSocios1 . reviewSocios2"
        ". reviewSocios3 ."
        "footer footer footer";
    }
    .contenedorh{
        animation: slideUp1024 1s forwards;
        grid-template-areas: 
        "nav nav nav" 
        "fotoHistoria1 txtHistoria1 txtHistoria1" 
        "fotoHistoria2 txtHistoria2 txtHistoria2" 
        "fotoHistoria3 txtHistoria3 txtHistoria3" 
        "footer footer footer";
    }
    .txtIntro{
        font-size: 2rem;
    }
}
@media (max-width:1400px){
    .contenedor{
        animation: slideUp1200 1s forwards;
        grid-template-columns: 20vw 10vw 60vw 10vw;
        grid-template-rows: auto;
        grid-template-areas: 
        "nav nav nav nav"
        "header header header header"
        "imgIndexIntro . txtIndexIntro txtIndexIntro"
        "mapaLocation mapaLocation mapaLocation mapaLocation"
        "reviewSocios1 reviewSocios2 reviewSocios3"
        "footer footer footer footer";
    }
    .contenedorh{
        animation: slideUp1024 1s forwards;
        grid-template-columns: 20vw 10vw 60vw 10vw;
        grid-template-rows: auto;
        grid-template-areas: 
        "nav nav nav nav" 
        "fotoHistoria1 txtHistoria1 txtHistoria1 txtHistoria1" 
        "fotoHistoria2 txtHistoria2 txtHistoria2 txtHistoria2" 
        "fotoHistoria3 txtHistoria3 txtHistoria3 txtHistoria3" 
        "footer footer footer footer";
    }
    .txtIntro{
        font-size: 3rem;
    }
}